* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f0f0f0;
    font-size: 1.2vw; /* 使用相對單位 */
}

.back-button {
    position: absolute;
    top: 10px;
    left: 10px;
}

.back-button button {
    background-color: #f5a623;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

.back-button button:hover {
    background-color: #e59500;
}


.container {
    width: 100%; /* 全螢幕寬度 */
    padding: 2%; /* 使用百分比間距 */
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    font-size: 2vw; /* 調整字體大小使用相對單位 */
    margin-bottom: 2%;
}

.order-item {
    display: flex;
    align-items: center;
    justify-content: space-between; /* 使項目均勻分布 */
    padding: 2% 0;
    border-bottom: 1px solid #ccc;
}

.item-image img {
    
    height: 20vh; /* 使用視窗高度的 10% */
    width: auto; /* 自動調整寬度以保持比例 */
}


.item-details {
    width: 70%;
    text-align: center; /* 使文字置中對齊 */
}

.item-name {
    font-size: 1.5vw; /* 使用相對單位設置字體大小 */
    font-weight: bold;
}

.item-description {
    font-size: 1vw;
    color: gray;
}

.item-price {
    font-size: 1.5vw;
    margin-top: 1%;
    color: #333;
}

.item-quantity {
    margin-top: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quantity-btn {
    padding: 1% 2%;
    font-size: 1.2vw;
    border: 1px solid #ccc;
    background-color: white;
    cursor: pointer;
}

.quantity-btn:hover {
    background-color: #f0f0f0;
}

input[type="text"], input[type="number"] {
    width: 3vw;
    text-align: center;
    margin: 0 1vw;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 1%;
}

.pickup-time {
    margin-top: 4%;
    font-size: 1.2vw;
    display: flex;
    align-items: center;
}

.pickup-time input {
    width: 10vw;
    text-align: center;
    margin-left: 2%;
    padding: 1%;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.notes {
    margin-top: 4%;
    display: flex;
    align-items: center; /* 使備註標籤和輸入框在同一行 */
}

.notes label {
    margin-right: 1vw; /* 為標籤添加右邊距 */
}

.notes input {
    width: 100%;
    padding: 1%;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.total {
    margin-top: 4%;
    font-size: 1.5vw;
    text-align: right;
}

.submit-btn {
    text-align: center;
    margin-top: 4%;
}

.submit-btn button {
    padding: 1% 4%;
    font-size: 1.5vw;
    background-color: #ccc;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.submit-btn button:hover {
    background-color: #bbb;
}
